<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.container{
			padding: 50px 100px 10px 300px;
			border-color: purple;

		}
		button{
			text-indent: all;
		}
	</style>
</head>
<body>
	<div class="container">
		<form>
			<table>
				<tr>
					<th colspan="3">COMPLAINT REGISTRATION FORM</th>
				</tr>

				<tr>
					<td ><label style="visibility: 25">Your Name:</label></td>
					<td><input type="text" name="emp_comp_name" id="emp_complaint"></td>
				</tr>

				<tr>
					<td><label>Status:</label></td>
					<td>
						<input type="radio" name="radio_comp">Staff
						<input type="radio" name="radio_comp">Faculty
						<input type="radio" name="radio_comp">Other
					</td>
				</tr>

				<tr>
					<td>Departement</td>
					<td>
						<select>
							<option>Technical</option>
							<option>Coding</option>
							<option>Design</option>
							<option>Planning</option>
							<option>Testing</option>
							<option>Development</option>
						</select>
					</td>
				</tr>

				<tr>
					<td>Address</td>
					<td><textarea rows="2"></textarea></td>
				</tr>

				<tr>
					<td>Phone</td>
					<td><input type="text" name="txt_comp_phone"></td>
				</tr>

				<tr>
					<th colspan="3">Complaint Filed Against</th>
				</tr>

				<tr>
					<td>Name</td>
					<td><input type="text" name="comp_name"></td>
				</tr>

				<tr>
					<td>Title</td>
					<td><input type="text" name="comp_title"></td>
				</tr>

				<tr>
					<td>Department</td>
					<td>
						<select>
							<option>Technical</option>
							<option>Coding</option>
							<option>Design</option>
						</select>
					</td>
				</tr>

				<tr>
				<td colspan="2"><br />
                    <label>Please describe the specific act(s):</label><br>
                    <textarea rows="7" cols="40" style="width: 650px;"></textarea>
                </td>
			</tr> 

			<tr>
				<td>Date</td>
				<td><input type="date" name="comp_date"></td>
			</tr>

			<tr>
				<td>Time</td>
				<td><input type="Time" name="comp_time"></td>
			</tr>

			<tr>
				<td><button>Submit</button></td>
			</tr>
			</table>
		</form>
	</div>

</body>
</html>