<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style type="text/css">
	.container{
		/*background-color: blue;*/
	}
	header{
		/*background-color: yellow;*/
	}

	.middle{
		background-color: purple;
	}
</style>
<body>
	<div class="container">
		<header>
			<div class="logo">
			
		    </div>
		    <div>
		    	<nav class="left_nav">
		    		<ul>
		    			<li>HOME</li>
		    			<li>PROJECT</li>
		    		</ul>
		    	</nav>
		    	<div class="middle">
		    		
		    	</div>
		    	<div class="right">
		    		
		    	</div>
		
		    </div>
		</header>
		<div class="left_content">
			<aside>
				<ul>
					<li>DASH BOARD</li>
					<li>TASKS</li>
					<li>CALENDER</li>
					<li>TIMECHART</li>
					<li>DOCUMENTATION</li>
					<li>REPORT</li>
				</ul>
			</aside>
		</div>
		<div class="main_content">
			<section>
				
			</section>
		</div>
		<div class="rigth_content">
			<aside>
				
			</aside>
		</div>
	</div>

</body>
</html>