<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		table{
			empty-cells: show;
		}
		th,td{
			border:1px solid black;
			border-collapse:collapse; 

		}
	</style>
</head>
<body>
	<form>
		<table style="width: 100%">
			<tr>
				<th>task title</th>
				<th>assignee</th>
				<th>status</th>
				<th>priority</th>
				<th>start date<input type="date" name="start_date"></th>
				<th>end date<input type="date" name="due_date"></th>
				<th>percent task completed</th>
				<th>comments</th>
				<th>fixed cost</th>
				<th>estimated cost</th>
				<th>actual hours</th>
			</tr><br>
			<td><button>submit</button></td>
		</table>

	</form>

</body>
</html>